<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List de invitados - {{ event.name }}</title>
    Pencil icons created by riajulislam - Flaticon
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/hostPage.css' %}">
</head>
<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header"></div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        <div class="nav-links">
            <a href="{% url 'add_guest' event.event_name_id %}">Añadir</a>
            <a href="{% url 'username_login' event.event_name_id %}">Salir</a>
        </div>
    </div>
    <h1>{{ event.name }}</h1>
    <div class="row">
        <div class="column-left">
            <p>{{ event.place }}</p>
        </div>
        <div class="column-right">
            <p>{{ event.date }}</p>
        </div>
    </div>
    <table border="1" width="75%">
            <tr>
                <th>Nombre</th>
                <th>Celular</th>
                <th>Invitados</th>
                <th>Asiste</th>
                <th>Invitados Extras</th>
                <th>No de mesa</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
            {% for guest in guests %}
            <tr>
                <td>{{ guest.name }}</td>
                <td>{{ guest.cellphone }}</td>
                <td>{{ guest.invitations }}</td>
                <td>
                    {% if guest.assists == 1 %}
                        Sí asiste
                    {% else %}
                        No asiste
                    {% endif %}
                </td>
                <td>{{ guest.extraGuests }}</td>
                <td>{{ guest.table_number }}</td>
                <td>
                    <a href="{% url 'edit_guest' event_name_id=event.event_name_id guest_id=guest.id %}">
                        <img src="/static/images/editar.png" style="width: 30px; margin-left: 15px;" alt="Editar invitado"/>
                    </a>
                </td>
                <td>
                    <a href="{% url 'delete_guest' event_name_id=event.event_name_id guest_id=guest.id %}">
                        <img src="/static/admin/img/icon-no.svg" style="width: 30px; margin-left: 15px;" alt="Borrar invitado"/>
                    </a>
                </td>
            </tr>
            {% endfor %}
    </table>
</body>
</html>