<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login - Evento {{ event.name }}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/loginPage.css' %}">
</head>
<body class="body-container">
    <div class="login-container">
        <h1>Login para ver invitados del evento {{ event.name}}</h1>
        <form method='POST'>
            {% csrf_token %}
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% else %}
                <label class="input-text">Ingresa con el usuario que te compartieron</label><br/>
            {% endif %}
            <div>
                <input class="username-input" type="text" name="username">
            </div>
            <button type="button">Ingresar</button>
        </form>
    </div>
</body>
</html>