body{
    padding: 0;
    height: 100%;
}
.container{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: -webkit-fill-available;
    display:flex;
    justify-content: center;
    align-items: center;
}
.row-container{
    text-align: center;
}
.invite-logo-container{
    text-align: center;
}
.invite-date-container{
    text-align: center;
}
.label-container{
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
.input-name-container{
    margin-top: 20px;
    margin-bottom: 20px;
}
.input-name-container input{
    padding-left: 8px;
    padding-right: 8px;
    width: 220px;
    height: 25px;
}
.button-form-container{
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-form-container input{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
