

.icon-container{
    width: 100%;
}
.icon-container img{
    width: 125px;
}
.icon-pin-container img{
    width: 75px;
}
.pictur-container img{
    width: 300px;
}
.button-container {
    margin-top: 20px;
}
.button-container input[type=button]{
    font-family: "source-serif-4-variable", sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    background-color: white;
    border-radius: 27px;
    width: 150px;
    height: 50px;
    cursor: pointer;
}

@media only screen and (min-width: 576px) and (max-width: 767px){

}

/* Teléfonos */
@media only screen and (max-width: 575px){
    
}