@import url("https://use.typekit.net/zie2xkm.css");

.background-top{
    background-image: url('../../assets/img/drIgnacioChavez/cabecera.png');
    background-color: var(--black);
}

.invitacion-main-container{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}
.invitacion-container{
    width: 65%;
}

/*Start Location style*/
.religion-ceremony-location-main-container{
    position: absolute;
    text-align: center;
    color: white;
    width: 65%;
    top: 1185px;
    animation: fadeIn 5s;
}
.reception-location-main-container{
    position: absolute;
    text-align: center;
    color: white;
    width: 65%;
    top: 2150px;
    animation: fadeIn 5s;
}
.title-container{
    font-family: "source-serif-4-variable", sans-serif;
    font-size: 30px;
}

.spot-container{
    padding: 0px 15px;
    font-family: "source-serif-4-variable", sans-serif;
    font-variation-settings: "opsz" 40, "wght" 450;
    font-size: 25px;
}
.schedule-container{
    padding: 0px 15px;
    font-family: "source-serif-4-variable", sans-serif;
    font-variation-settings: "opsz" 40, "wght" 450;
    font-size: 25px;
}
.addres-container{
    padding: 0px 15px;
    font-family: "source-serif-4-variable", sans-serif;
    font-variation-settings: "opsz" 40, "wght" 450;
    font-size: 25px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/*End Location style*/
@media only screen and (min-width: 576px) and (max-width: 767px){

}

/* Teléfonos */
@media only screen and (max-width: 575px){
    .invitacion-container{
        width: 100%;
    }
    /*Start Location style*/
    .religion-ceremony-location-main-container{
        width: 100%;
        top: 1350px;
    }
    .reception-location-main-container{
        width: 100%;
        top: 2450px !important;
    }
    /*End Location style*/
}